    <div class="glitch">
        <div style="position: fixed;" class="glitch__img"></div>
        <div style="position: fixed;" class="glitch__img"></div>
        <div style="position: fixed;" class="glitch__img"></div>
        <div style="position: fixed;" class="glitch__img"></div>
        <div style="position: fixed;" class="glitch__img"></div>
    </div>
        <div class="navbar-dark text-white">
            <div class="container">
                {{#if user}}
                    {{#if (isRole user.role "admin")}}
                        {{> navbar-admin}}
                    {{else}}
                        {{> navbar-auth}}
                    {{/if}}
                    {{else}}
                    {{> navbar}}
                {{/if}}
            </div>
        </div>

    <div class="jumbotron bg-transparent mb-0 pt-3 radius-0">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <h1 class="display-1 bold color_white content__title text-center">
                        <span class="color_danger">ABOUT</span>US
                    </h1>
                    <p class="text-grey text-spacey text-center hackerFont lead">
                        A community of like-minded individuals passionate about cybersecurity and open-source software.
                    </p>
                        <div class="row justify-content-center hackerFont">
                            <div class="col-md-8">
                            <h5 class="bold color_white pt-3">
                                What is Capture The Flag?
                            </h5>
                                The Capture The Flag (CTF) competition is a unique type of cybersecurity contest where participants are challenged to solve security problems or attack/defend systems.  
                                The game consists of a variety of challenges that require players to analyze, reverse engineer, exploit, decrypt, or do whatever it takes to capture the flag.  
                                All challenges are intentionally designed to be hacked legally, offering participants a safe and ethical way to gain real-world experience.
                            
                            <h5 class="bold color_white pt-3">
                                About VHU Challenge
                            </h5>
                                VHU Challenge is a cybersecurity sub-event organized by Van Hien University (VHU), attracting students from all around who share a passion for hacking and information security.  
                                Its goal is to raise awareness about cybersecurity among students and young professionals.  
                                Everyone should understand common system vulnerabilities and how to protect themselves against cyberattacks in the digital age.  
                                We believe that gamification — learning through play — is the most effective way to build cybersecurity skills.

                            <h5 class="bold color_white pt-3">
                                Who can join VHU Challenge?
                            </h5>
                                VHU Challenge is mainly aimed at university and college students who are interested in cybersecurity, ethical hacking, and CTF competitions.  
                                It’s an open academic playground — anyone can join, learn, and challenge themselves.

                            <div class="row text-center pt-5">
                                <div class="col-xl-12">
                                <button class="btn btn-outline-danger btn-shadow px-3my-2 ml-0 ml-sm-1 text-left typewriter" onclick="(function(){window.location.href='/auth/login'})();">
                                    <h4>LET IT RIP!</h4>
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>